@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
@layer components {
  .hover-scale {
    @apply hover:scale-105 hover:transition-transform hover:duration-300 hover:border  rounded-md will-change-transform;
  }
}
@layer base {
  :root {
    --color-background: #18181c;
    --color-red: #d95639;
    --color-yellow: #f9be03;
    --color-white: #ffffff;
    --color-blue: #036ac9;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
  }
  h1 {
    font-size: clamp(1.5rem, 3vw, 3.5rem);
    font-weight: bold;
  }
  h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: semi-bold;
  }
  p {
    font-size: clamp(0.8rem, 3vw, 1rem);
  }
  a {
    font-size: clamp(0.8rem, 3vw, 1rem);
  }
}
